%section#profile-nav 
	%h3.bottom Band Management
	%section#managment
		%article.profile
			%a{:href => "#"}
				= image_tag("profiles/greg1-bw.jpg")
				%footer
					%h4.name.bottom Greg Silva
					%h5.title Bass Guitarist
		%article.profile
			%a{:href => "#"}
				= image_tag("profiles/darren1-bw.jpg")
				%footer
					%h4.name.bottom Darren Fry
					%h5.title Drummer
		%article.profile
			%a{:href => "#"}
				= image_tag("profiles/rasheed1-bw.jpg")
				%footer
					%h4.name.bottom Rasheed Meadows
					%h5.title Saxophone
		%article.profile
			%a{:href => "#"}
				= image_tag("profiles/carl2-bw.jpg")
				%footer
					%h4.name.bottom Carl Parks
					%h5.title Percussionist
		%article.profile
			%a{:href => "/boston/lenny"}
				= image_tag("profiles/lenny2-bw.jpg")
				%footer
					%h4.name.bottom Lenny McLean
					%h5.title Composer / Keyboardist