%section#profile-nav 
	%h3.bottom Washington D.C. Area Band
	%section#dc-band
		%article.profile
			%a{:href => "/washington-dc/aubrey"}
				= image_tag("profiles/aubrey2-bw.jpg")
				%footer
					%h4.name.bottom Aubrey McKoy
					%h5.title Bass Guitarist
		%article.profile
			%a{:href => "/washington-dc/cornell"}
				= image_tag("profiles/cornell1-bw.jpg")
				%footer
					%h4.name.bottom Cornell Webb
					%h5.title Drummer
		%article.profile
			%a{:href => "/washington-dc/rhube"}
				= image_tag("profiles/rhube1-bw.jpg")
				%footer
					%h4.name.bottom Ralph "Rhube" Peters 
					%h5.title Saxophone
		%article.profile
			%a{:href => "/washington-dc/david"}
				= image_tag("profiles/david1-bw.jpg")
				%footer
					%h4.name.bottom David Dillard
					%h5.title Percussionist
		%article.profile
			%a{:href => "/washington-dc/lenny"}
				= image_tag("profiles/lenny2-bw.jpg")
				%footer
					%h4.name.bottom Lenny McLean
					%h5.title Composer / Keyboardist