%li 
	%aside.event-date
		%p.weekday-name= event.date.to_time.to_s(:weekday_name)
		%p.month-name= event.date.to_time.to_s(:month_name)
		%p.day-of-month= event.date.day.ordinalize
		%p.year= event.date.year if event.date.year < Time.now.year
		%p.time-interval
			%span.begin-time= event.begin_time.to_s(:event_time)
			%span -
			%span.end-time= event.end_time.to_s(:event_time)
	
	%article.event-details
		%header
			%h4.venue-name= link_to event.venue_name, event.website_url, {:target => "_blank"}
			- if event.pub_date
				%time.post-date{:pubdate => "pubdate"}= "Posted: #{event.pub_date.to_s(:event_pub_date)}"
			- else
				%time.post-date.unpublished{:pubdate => "pubdate"}= "Unpublished"
		%address
			- unless event.private_event
				%p.first_line= event.address.first_line
				- if event.address.second_line
					%p.second_line= event.address.second_line
			%p.city= event.address.city
			%p.state= ", #{event.address.state}" if event.address.state
			%p.country= event.address.country if !Address::STATE_COUNTRIES.include?(event.address.country)
		%footer.clear
			- unless event.private_event
				%p.notes= event.notes
				%p.cost
					%span= "#{(event.admission_type == "cover"? "Cover Charge" : "Tickets")}:"
					%span= "#{event.price > 0.0? number_to_currency(event.price) : " Free"}"
			- else
				%p.notes Private Event
				
			- if current_user && controller.controller_name == "events"
				%p.admin
					%span= link_to 'Show', event
					%span= link_to 'Edit', edit_event_path(event)
					%span= link_to 'Delete', event, :confirm => 'Are you sure?', :method => :delete