%nav#main-nav
	%li{:id => "home"}
		%a{:href => "/"}= "Home"
	%li{:id => "history"}
		%a{:href => "/history"}= "History"
	%li{:id => "profiles"}
		%a{:href => "/profiles"}= "Profiles"
	%li{:id => "gigs"}
		= link_to "Shows", events_path
	%li{:id => "photos"}
		%a{:href => "/photos"}= "Photos"
	/ %li{:id => "support"}
	/ 	%a{:href => "/support"}= "Support"
	%li{:id => "contact"}
		%a{:href => "/contact"}= "Contact"